<%@boats.each do |boat| %>
  <p>Name: <%= boat.name %></p>
  <p>Price: <%= boat.price %></p>
  <p>Capacity: <%= boat.capacity %></p>
  <p>Color: <%= boat.color %></p>
  <p> <a href="/boats/<%= boat.id %>">More Details</a> </p>
  <hr>
<% end  %>