<h4> <a href="/boats">Back to Index</a> </h4>

<p>ID: <%= @boat.id %></p>
<p>Name: <%= @boat.name %></p>
<p>Price: <%= @boat.price %></p>
<p>Capacity: <%= @boat.capacity %></p>
<p>Color: <%= @boat.color %></p>